.profile {
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile .card {
    width: clamp(250px, 50%, 500px);
}

.profile .btns {
    align-items: center;
}